<h2>Tran Viet Duc 2121050751</h2>
<h1>@ViewBag.Message</h1>
<p>Đây là năm hiện tại: @ViewBag.Year</p>
<form action="Index">
    <label>Nhap ho ten</label>
    <input type="text" name="FUllname">
    <label for="">Nhap dia chi</label>
    <input type="text" name="Address">
    <input type="button" value="gui du lieu">
</form>